
header {
  background-color: #bdbdbd;
  padding: 20px 0;
}

.logo {
  width: 12%;
}

.box {
  position: relative;
  width: 980px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 80px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 20px;
}

nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  font-family: "Fira";
  font-size: 22px;
  font-weight: 800;
}

nav a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.title-box {
  position: relative;
  background-color: #000000;
  width: 100%;
  height: 45px;
  margin-bottom: 3px;
}

.title {
  font-family: "Fira";
  font-size: 25px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
}

.banner {
  width: 100%;
  height: auto;
  border: 1px solid black;
}

.principal {
  margin: 0 auto;
  color: #000000;
  background-color: #bdbdbd;
}

.sections{
  background: linear-gradient(#bdbdbd, white);
}

.title-center {
  font-family: "Fira";
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
}

.title-center:before{
  content: "[ ";
}
.title-center::after{
  content: " ]"
}

.principal p {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 980px;
  padding-bottom: 40px;
  font-size: 18px;
  font-family: "Fira";
}

.principal p::first-line{
  font-weight: bold;
}

.principal p em {
  font-style: italic;
  color: #994b03;
}

.utensilios {
  margin: 0 20px 20px 20px;
  width: calc(100% / 7);
  float: left; /*Float - A propriedade float do CSS determina que um elemento deve ser retirado do seu fluxo normal e colocado ao longo do lado direito ou esquerdo do seu containêr, onde textos e elementos em linha irão se posicionar ao seu redor.  */
}


.content-benefits {
  width: 680px;
  margin: 0 auto
  ;
}

.content-benefits p {
  width: 680px;
  margin: 0 0 2em;
  font-family: "Fira";
  font-size: 20px;
  text-align: center;
}

.list-benefits {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.list-item {
  font-family: "Fira";
  font-size: 20px;
  line-height: 1.5em;
}

.list-benefits li:hover {
  color: #994b03;
}

.list-item:nth-child(n) {
  font-weight: bold;
}
/*pseudo classes -> first, last, nth-child(). (2n) inclui todos os números pares*/

.list-item:before{
  content: "✶"
}

/*pseudo elementos*/

.image-benefits {
  width: 60%;
}

.map {
  width: 980px;
  margin: 0 auto;
  padding: 3em 0;
  font-family: "Fira";
  font-size: 20px;
}

.map p {
  margin: 0 0 2em;
  text-align: center;
}

.video {
  width: 560px;
  margin: 2em auto;
  opacity: 0.5;
}

.video:hover{
  opacity: 1;
  transition: 1s;
}


.products-alura {
  width: 940px;
  margin: 0 auto;
  padding: 50px 0px;
}

.products-alura li {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 30%;
  margin: 0 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 5px 5px #000000, -1px 5px 5px #000000;
}

.products-alura li:hover {
  border: 3px solid #994b03;
}

.products-alura li:active {
  border-color: #994b03;
}

.products-alura h2 {
  font-family: "Fira";
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.products-alura li:hover h2 {
  font-size: 21px;
  font-family: bold;
  color: #994b03;
}

.products-description {
  font-size: 18px;
  font-family: "Fira";
}

.products-price {
  font-family: "Fira";
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.products-alura li:hover .products-price {
  color: #994b03;
}

.products-img{
  box-shadow: 5px 5px 5px #555555;
}

footer {
  text-align: center;
  background-image: url(./imagens-barbearia/bg.jpg);
  padding: 5px 0;
}

.logo-bottom {
  width: 10%;
}

.copyright {
  /*uso do símbolo copyright entidade =  &copy;*/
  color: #ffffff;
  font-size: 13px;
}

.main-width{
  width: 980px;
  margin: 0 auto;
}

form {
  margin: 40px 0px;
  font-size: 20px;
}

form label {
  margin: 40px 0 20px 0;
  display: block;
  font-family: "Fira";
  font-weight: bold;
}

.input-pattern {
  display: block;
  margin-bottom: 20px;
  padding: 10px 25px;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
}

.contact {
  margin-top: 40px;
}
.contact legend {
  margin-bottom: 10px;
  font-weight: bold;
}

.radio {
  margin-top: 10px;
  margin-bottom: 8px;
  font-weight: lighter;
}

.contact-time {
  margin-top: 40px;
  font-weight: bold;
}

.option-time {
  background-color: #ffffff;
  color: #000000;
  margin: 20px 0;
  padding: 15px 0;
  width: 40%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.checkbox {
  margin: 20px 0;
}

.sent {
  width: 40%;
  padding: 15px 0;
  background: #994b03;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  transition: 1s all;
}

.sent:hover {
  background: #bdbdbd;
  transform: scale(1.2);
}

table {
  margin: 20px 0 40px;
}

thead {
  background: #555555;
  color: #ffffff;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}




